body {
  font-size: 16px;
  color: #000000;
  background-color: #fff;
  font-family: 'Vidaloka', serif;
}
/** HEADER **/
#header-nav {
  background-color: #d3d3d3;
  border-radius: 0;
  border: 0;
}
.navbar-brand h1 {
  color: #000000;
  font-size: 1.5em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #fff;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
#nav-list {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #faf8f3;
}
#nav-list a {
  color: #000000;
  border: 1px solid #000000;
}
#nav-list a:hover {
  background: #FFFFFF;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}
/** END HEADER **/

/** MAIN CONTENT **/
#main-content-chicken {
	background-color: #d3d3d3;
	margin-bottom: 10px;
}
#main-content-chicken h3{
	padding-top: 10px;
}
#main-content-chicken p {
	padding: 10px;
}
/** END MAIN CONTENT **/

/********** Extra small devices only **********/
@media (max-width: 767px) {
	#collapsable-nav {
		background-color: #faf8f3;
	}
}